html {
    font-size: 100%;
}

body {
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    color: #335576;
}

p {
    color: #335576;
    font-weight: 100;
}

.nav-list__item a {
    color: black;
    text-decoration: none;
}


.nav-list__item a:active {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;
}


.nav-title {
    display: block;
    position: relative;
    float: left;
    width: 20vw;
    height: 3rem;
    padding-left: 1rem;
    margin-left: 5%;
}

.nav-main {
    height: 4rem;
    background-color: #FFFFFF;
}

.nav-list {
    width: 50vw;
    position: relative;
    float: right;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.nav-list__item {
    padding: 1rem;
    text-align: center;
    transition: font-size .5s;
    font-size: 1rem;
    color: black;

}

.nav-list__item:hover {
    transition: font-size .5s;
    font-size: 1.25rem;
    background-color: deepskyblue;
}


footer {
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-top: 3rem;
    background-color: #FEFAF5;
}

.contact {
    width: 20vw;
}

.hours {
    width: 40vw;
}

.social {
    width: 25vw;
}

.social img {
    width: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.footer-desc {
    color: #DB7A4E;
    font-weight: 100;
    font-size: .8rem;
}

.hours-list {
    list-style: none;
    display: flex;
    margin: 0%;
    padding: 0%;
}
.hours-list li {
    padding: 1rem;
}
.hours-list p {
   font-size: .8rem;
}